{{#each this}}
<li class="splide__slide">
    
    <div class="splide__content">
        <div class="splide__content--left">
            <h3 class="splide__name">{{name}}</h3>
            <i class="splide__icon"></i>
            <i class="splide__icon"></i>
        </div>
    </div>
    <p class="splide__text">{{feedback}}</p>
    
</li>
{{/each}}